# Logs
logs
*.log
# Python cache
__pycache__
*.pyc

*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup

secrets.yaml
known_devices.yaml
.cloud/
.cloud/**
deps
deps/**
tts
tts/**
.storage
.storage/**
.spotify-token-cache
zone.yaml
phue*
zw*
sabnzbd.conf
aircast.xml
