secrets.yaml
known_devices.yaml
.cloud/
.cloud/**
deps
deps/**
tts
tts/**
custom_components/sensor/__pycache__
custom_components/sensor/__pycache__/**
.uuid
.HA_VERSION
*.log
*.db
zone.yaml
.spotify-token-cache
