.*

lib
deps
tts
octoprint
__pycache__




*.pid
*.xml
*.csr
*.crt
*.key
*.db*
*.log
*.conf
*.sqlite
.shopping_list.json


ip_bans.yaml
secrets.yaml
known_devices.yaml

/www/photo
/www/font
image